[
 {
   elvis,
   [
    {config,
     [#{dirs => ["../../src", "../../test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
                  {elvis_style, invalid_dynamic_call, #{ignore => [ktn_recipe_verify]}},
                  {elvis_style, dont_repeat_yourself, #{min_complexity => 15}},
                  {elvis_style, no_debug_call, #{debug_functions => [{ct, pal}]}}
                 ]
       },
      #{dirs => ["../.."],
        filter => "Makefile",
        ruleset => makefiles,
        rules => [{elvis_project, protocol_for_deps_erlang_mk, #{ regex => "(https://.*|[0-9]+([.][0-9]+)*)"}}]
       },
      #{dirs => ["../.."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
